USE [master]
GO
/****** Object:  Database [PRJ311_DE140042]    Script Date: 7/31/2020 8:55:57 AM ******/
CREATE DATABASE [PRJ311_DE140042]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRJ311_DE140042', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PRJ311_DE140042.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRJ311_DE140042_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PRJ311_DE140042_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRJ311_DE140042].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRJ311_DE140042]
GO
/****** Object:  Table [dbo].[Store_DE140042]    Script Date: 7/31/2020 8:55:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Store_DE140042](
	[Store_ID] [nvarchar](10) NOT NULL,
	[Store_Name] [nvarchar](30) NULL,
	[Address] [nvarchar](30) NULL,
	[Phone] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Store_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
